/* RESPONSIVINESS */
@media screen and (max-width: 767px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Source Sans 3", sans-serif;
		scroll-behavior: smooth;
	}

	body {
		margin: 0 auto;
	}

	header {
		width: 100%;
		min-height: 60px;
		padding: 10px 20px;
	}

	header #navbar {
		width: 100%;
		min-height: 50px;
	}

	#navbar .brand {
		gap: 10px;
		cursor: pointer;
	}

	#navbar img {
		width: 3rem;
	}

	#navbar h2 {
		font-size: 1.05em;
		font-weight: 700;
		transition: color 0.6s ease;
	}

	#navbar h2:hover {
		color: rgb(120, 67, 233);
	}

	#navbar ul {
		display: none;
		gap: 60px;
	}

	#navbar li {
		font-size: 1rem;
		font-weight: 600;
		transition: color 0.6s ease;
	}

	#navbar li a {
		text-decoration: none;
		color: black;
	}

	#navbar li a:hover {
		color: rgb(120, 67, 233);
	}

	#navbar i {
		font-size: 1.4rem;
		color: black;
	}

	nav .hambuggar {
		display: inline-block;
	}

	/* Header Styling End */

	/* Hero Section Start */
	#hero {
		background-image: linear-gradient(
				to bottom,
				rgba(248, 248, 248, 0.836),
				rgba(248, 248, 248, 0.836)
			),
			url("../image/background.jpg");
		background-position: right;
		background-size: cover;
		width: 100%;
		max-height: 100vh;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

	#hero .hero-text {
		max-height: 75%;
		margin: 0 auto;
		color: black;
		padding-top: 60px 30px;
	}

	#hero .hero-text h1 {
		font-size: 2rem;
		text-transform: uppercase;
		padding-bottom: 35px;
		letter-spacing: 0;
		text-align: center;
		color: rgb(17, 17, 17);
		font-weight: 900;
	}

	#hero .hero-text p {
		font-size: 20px;
		max-width: 100%;
		padding-bottom: 50px;
	}

	.button-long {
		width: 180px;
		height: 60px;
		border: none;
		border-radius: 5px;
		color: rgb(255, 255, 255);
		cursor: pointer;
		font-size: 1em;
		font-weight: 700;
		text-transform: uppercase;
		background-color: rgb(120, 67, 233);
		transition: transform 0.4s ease-in-out;
		letter-spacing: 1px;
		display: inline-block;
	}

	.button-long:hover {
		transform: translateY(-4px);
	}

	.button-short {
		width: 150px;
		height: 50px;
		border: none;
		border-radius: 5px;
		color: rgb(255, 255, 255);
		cursor: pointer;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		background-color: rgb(120, 67, 233);
		transition: transform 0.4s ease-in-out;
		letter-spacing: 0;
		display: inline-block;
	}

	.button-short:hover {
		transform: translateY(-4px);
	}

	#hero .linktree {
		display: none;
	}

	/* About us Styling */
	#about-div {
		width: 100%;
		min-height: 200px;
		padding: 30px;
		display: flex;
		flex-direction: column;
		background-color: rgb(250, 250, 250);
		margin: 0 auto;
	}

	#about-div .about-heading {
		text-align: center;
		margin: 50px auto;
	}

	#about-div .about-heading h2 {
		font-size: 2.3rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 25px;
		text-decoration: underline;
		text-decoration-color: rgb(120, 67, 233);
	}

	#about-div .about-heading p {
		font-size: 20px;
		max-width: 800px;
		color: #666666;
	}

	#about-div .about-info-skill {
		display: flex;
		flex-direction: column;
	}

	#about-div .about-info-skill p {
		text-align: center;
	}

	#about-div .about-section1,
	#about-div .about-section2 {
		width: 100%;
		padding: 20px;
		font-size: 20px;
		line-height: 1.8em;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	#about-div .about-section1 {
		position: relative;
	}
	#about-div .about-section1 h3 {
		padding-bottom: 30px;
	}

	#about-div .about-section1 button {
		margin: 40px 0;
		float: none;
	}

	#about-div .about-section1 p {
		margin-bottom: 15px;
		color: #666666;
	}

	#about-div .about-section2 h3 {
		padding-bottom: 30px;
	}

	#about-div .about-section2 .skills-icon {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 60px;
		padding: 10px;
	}

	#about-div .about-section2 .skills-icon img {
		width: 70px;
	}
	/* About us Styling End */

	/* My Project Styling */
	#projects-div {
		width: 100%;
		min-height: 200px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		background-color: rgb(255, 255, 255);
		margin: 0 auto;
	}

	#projects-div .projects-heading {
		text-align: center;
		margin: 50px auto;
	}

	#projects-div .projects-heading h2 {
		font-size: 2.3rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 25px;
		text-decoration: underline;
		text-decoration-color: rgb(120, 67, 233);
	}

	#projects-div .projects-heading p {
		font-size: 20px;
		max-width: 800px;
		color: #666666;
	}

	#projects-div img {
		width: 100%;
		margin: 0;
	}

	#projects-div .flex-project,
	#projects-div .dids-project,
	#projects-div .gx-project,
	#projects-div .portfolio-project {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0px 0px;
		padding: 10px 20px;
	}

	#projects-div .flex-project .flex-text,
	#projects-div .dids-project .dids-text,
	#projects-div .gx-project .gx-text,
	#projects-div .portfolio-project .portfolio-text {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 20px;
	}

	#projects-div .flex-img,
	#projects-div .dids-img,
	#projects-div .gx-img,
	#projects-div .portfolio-img {
		text-align: center;
	}

	/* Project Styling End */

	/* Contact Me Styling Start */
	#contact {
		background-image: linear-gradient(
				to bottom,
				rgba(248, 248, 248, 0.836),
				rgba(248, 248, 248, 0.836)
			),
			url("../image/background.jpg");
		background-position: center;
		background-size: cover;
		max-width: 1440px;
		min-height: 900px;
		margin: 0 auto;
		color: #666666;
		padding: 50px 0;
	}

	#contact .contact-heading {
		text-align: center;
		margin: 50px auto;
	}

	#contact .contact-heading h2 {
		font-size: 2.3rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 25px;
		text-decoration: underline;
		text-decoration-color: rgb(120, 67, 233);
	}

	#contact .contact-heading p {
		font-size: 20px;
		max-width: 800px;
		/* text-align: center; */
		margin: 0 auto;
	}

	#contact .container {
		width: 60%;
		min-height: 200px;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: white;
		border-radius: 15px;
		margin: 0 auto;
	}

	#contact form {
		/* margin: 50px; */
		/* width: 60%; */
		/* display: flex; */
		gap: 25px;
		/* padding: 0 100px; */
	}

	#contact form label {
		color: rgb(102, 102, 102);
		font-size: 1rem;
		letter-spacing: 1px;
		font-weight: 700;
		display: block;
		text-align: left;
	}

	#contact form input {
		min-width: 740px;
		height: 60px;
		padding: 25px;
		font-size: 1rem;
		border: none;
		outline: none;
		border-radius: 5px;
		background: rgb(240, 240, 240);
		margin-bottom: 35px;
	}

	#contact form textarea {
		min-width: 740px;
		height: 200px;
		padding: 10px;
		font-size: 1rem;
		border: none;
		border-radius: 5px;
		background: rgb(240, 240, 240);
		outline: none;
		margin-bottom: 35px;
	}

	form button {
		margin-bottom: 25px;
	}
	/* Contact Me Styling End */

	/* Footer Styling */
	footer {
		width: 100%;
		min-height: 350px;
		background-color: black;
		color: white;
		padding: 20px;
		margin: 0 auto;
	}

	footer .footer-section {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
	}

	footer .about-footer {
		margin-top: 50px;
	}

	footer .about-footer h3,
	footer .social-footer h3 {
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	footer .about-footer p {
		width: 100%;
		line-height: 1.4em;
		font-size: 14px;
	}

	footer .social-footer {
		display: flex;
		flex-direction: column;
	}

	footer .social-footer .social-link {
		display: inline-flex;
	}

	footer .social-footer .social-link a {
		font-size: 18px;
		color: white;
		padding-right: 15px;
	}

	footer .copyright {
		border-top: 1px solid rgb(68, 68, 68);
		padding: 50px 0;
		text-align: center;
		font-size: 14px;
	}

	/* Footer Styling End */
}
